.font150 {
	font-size : 150%;
}
.bgcolor1 {
	background-color: coral;
}
.bgcolor2 {
	background-color: green;
}
.bgcolor3 {
	background-color: blue;
}
.nomargin{
	margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 5px;
    margin-left: 5px;
}